<?xml version="1.0"?>
<config>
	<modules>
		<Mage_CodiScript>
			<version>0.1.0</version>
		</Mage_CodiScript>
	</modules>
    <adminhtml>
        <layout>
            <updates>
                <codiscript module="codiscript">
                    <file>codiscript.xml</file>
                </codiscript>
            </updates>
        </layout>
        <translate>
            <modules>
                <Mage_CodiScript>
                    <files>
                        <default>Mage_CodiScript.csv</default>
                    </files>
                </Mage_CodiScript>
            </modules>
        </translate>                
    </adminhtml>        
	<frontend>
		<routers>
			<codi>
				<use>standard</use>
				<args>
					<module>Mage_CodiScript</module>
					<frontName>codiscript</frontName>
				</args>
			</codi>
		</routers>
	</frontend>
	<global>
        <models>
            <codiscript>
                <class>Mage_CodiScript_Model</class>
            </codiscript>
        </models>
        <helpers>
            <codiscript>
                <class>Mage_CodiScript_Helper</class>
            </codiscript>
        </helpers>
	</global>
</config>
